<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>New Disciplina</title>
</head>
<body>
<div class="container">
    <br>
    <div class="row">
        <h1>Nova Disciplina</h1>
    </div>
    <div class="container">
        <div class="row">
            <form action="#" th:action="@{/save}" th:object="${disciplina}" method="post">
                <div class="mb-3">
                    <label class="form-label">Título</label>
                    <select class="form-control selectpicker" th:field="*{titulo}" id="titulo" required>
                        <option value="">Escolha uma opção</option>
                        <option th:each="disciplina : ${disciplinasMinisterio}"
                                th:value="${disciplina.getTitulo()}"
                                th:text="${disciplina.getTitulo()}">Título
                        </option>
                    </select>
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Área</label>
                    <select class="form-control selectpicker" th:field="*{area}" id="area" required>
                        <option value="">Escolha uma opção</option>
                        <option th:each="area : ${areasMinisterio}"
                                th:value="${area}"
                                th:text="${area}">Área
                        </option>
                    </select>
                    <div></div>
                </div>
                <div class="row">
                    <p th:if="${error1}" class="error1" style="color: red">A disciplina já existe!</p>
                </div>
                <div class="row">
                    <p th:if="${error2}" class="error2" style="color: red">A área não corresponde à disciplina seleccionada!</p>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Submeter</button>
                <button class="btn btn-primary" type="reset">Limpar</button>
                <a class="btn btn-outline-primary" href="/disciplinas">Voltar</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>