<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit Aluno</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Editar Aluno</h1>
    </div>
    <div class="container">
        <div class="row">
            <form action="#" th:action="@{/saveAfterEditAluno}" th:object="${aluno}" method="post">
                <div class="mb-3">
                    <label class="form-label">Nº de Matrícula</label>
                    <input class="form-control" type="text"  th:field="*{matricula}" readonly="readonly">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input class="form-control" type="text"  th:field="*{nome}" required>
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Idade</label>
                    <input class="form-control" type="number" min="5" max="100"  th:field="*{idade}" required>
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Género</label>
                    <!--<input class="form-control" type="text"  th:field="*{genero}">-->
                    <select class="form-control selectpicker" th:field="*{genero}" required>
                        <option value="">Escolha uma opção</option>
                        <option th:value="'M'" th:text="Masculino">Masculino</option>
                        <option th:value="'F'" th:text="Feminino">Feminino</option>
                    </select>
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">NIF</label>
                    <input class="form-control" type="text" maxlength="9" minlength="9" th:field="*{nif}">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ano de Escolaridade</label>
                    <!--<input class="form-control" type="text"  th:field="*{escolaridade}">-->
                    <select class="form-control selectpicker" th:field="*{escolaridade}" id="escolaridade" required>
                        <option value="">Escolha uma opção</option>
                        <option th:each="escolaridade : ${escolaridades}"
                                th:value="${escolaridade.getAnoEscolar()}"
                                th:text="${escolaridade.getAnoEscolar()}">Ano Escolaridade
                        </option>
                    </select>
                    <div></div>
                </div>
                <div class="row">
                    <p th:if="${error}" class="error">Não é possível inscrever o aluno neste ano de escolaridade!</p>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Submeter</button>
                <a class="btn btn-outline-primary" href="/alunos">Voltar</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>