<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>New Aula</title>
</head>
<body>
<div class="container">
    <br>
    <div class="row">
        <h1>Nova Aula</h1>
    </div>
    <div class="container">
        <div class="row">
            <form action="#" th:action="@{/saveAula}" th:object="${aula}" method="post">
                <div class="mb-3">
                    <label class="form-label">Data da Aula</label>
                    <input placeholder="DD/MM/AAAA" class="form-control" type="date"  th:field="*{dataAula}" required>
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Duração</label>
                    <input class="form-control" type="text"  th:field="*{duracao}">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Valor</label>
                    <input class="form-control" type="text"  th:field="*{valor}">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Professor</label>
                    <select class="form-control selectpicker" th:field="*{professor}" id="professor" required>
                        <option value="">Escolha uma opção</option>
                        <option th:each="professor : ${professores}"
                                th:value="${professor.getNif()}"
                                th:text="${professor.getNome()}">Nome do Professor
                        </option>
                    </select>
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Aluno</label>
                    <select class="form-control selectpicker" th:field="*{aluno}" id="aluno" required>
                        <option value="">Escolha uma opção</option>
                        <option th:each="aluno : ${alunos}"
                                th:value="${aluno.getMatricula()}"
                                th:text="${aluno.getNome()}">Nome do Aluno
                        </option>
                    </select>
                    <div></div>
                </div>

                <button class="btn btn-primary" type="submit">Submeter</button>
                <button class="btn btn-primary" type="reset">Limpar</button>
                <a class="btn btn-outline-primary" href="/aulas">Voltar</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>