<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>New Aula</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Nova Aula</h1>
    </div>
    <div class="container">
        <div class="row">
            <form action="#" th:action="@{/saveAula}" th:object="${aula}" method="post">
                <div class="mb-3">
                    <label class="form-label">Data da Aula</label>
                    <input class="form-control" type="text"  th:field="*{dataAula}">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Duração</label>
                    <input class="form-control" type="text"  th:field="*{duracao}">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Valor</label>
                    <input class="form-control" type="text"  th:field="*{valor}">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Professor</label>
                    <input class="form-control" type="text"  th:field="*{professor}">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Aluno</label>
                    <input class="form-control" type="text"  th:field="*{aluno}">
                    <div></div>
                </div>

                <button class="btn btn-primary" type="submit">Submeter</button>
                <a class="btn btn-outline-primary" href="javascript:history.back()">Voltar</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>